/*Universal Styling*/
body{
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 300;
	margin: 0px;
}

/*Header Styling*/
header{
	width: 100%;
	background-color: #404041;
	text-align: center;
	padding: 10px;
}

p{
	margin: 0 auto;
	display: block;
}

main{
	width:98%;
	margin: auto;
}

#score-keeper, #current-points{
	color: #ED458B;
}

#N{
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 700;
	font-size: 72px;
	color: #ED458B;
	display: inline;
}

#G{
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 300;
	font-size: 72px;
	color: #E6E7E8;
	display: inline;
}

.rules, .score{
	color: #fff;
	text-align: center;
	width:49%;
	height: 75px;
	background-color: #404041;
	border: 2px solid #fff;
	float: left;
	display: inline-block;
}

.half-box{
	height:50px;
}

/*Phase 3*/
#points-section{
	margin: 0px auto 25px;
}

#enter-values{
	color: #FFF;
	background-color: #929497;
	border: 0px solid #FFF;
	border-radius: 20px;
	margin: 10px auto 10px;
	font-size: 12px;
    font-weight: 300;
    font-family: 'Open Sans', arial, sans-serif;	
}

#enter-values:disabled{
	background-color: #D0D2D3;
}

#enter-values:disabled:hover{
	background-color: #D0D2D3;
}

#enter-values:hover{
	background-color: #EB008B;
}

/*Form Styling*/
.guesser{
	width: 100%;
    margin: 0px auto;
    display: inline-block;
    float: left;
}

#userguess{
    display: inline-block;
    margin: 25px auto;
    height: 25px;
    width: 100%;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

#guess-button{
	color: #FFF;
	background-color: #929497;
	width: 25%;
	border: 0px solid #FFF;
	border-radius: 20px;
	margin: 0px 10px 20px;
	font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', arial, sans-serif;
}

#guess-button:disabled{
	background-color: #D0D2D3;
}

#guess-button:disabled:hover{
	background-color: #D0D2D3;
}

#guess-button:hover{
	background-color: #EB008B;
}

#clear-button{
	color: #FFF;
	background-color: #929497;
	width: 25%;
	border: 0px solid #FFF;
	border-radius: 20px;
	margin: 0px 10px 20px;
	font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', arial, sans-serif;
}

#clear-button:disabled{
	background-color: #D0D2D3;
}

#clear-button:disabled:hover{
	background-color: #D0D2D3;
}

#clear-button:hover{
	background-color: #EB008B;
}

/*Feedback Styling*/
.the-guess{
	width: 40%;
	margin: 10px auto;
	text-align: center;
}

.feedback, .buttons{
	margin: 0px auto;
	display: block;
}

#highlow{
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 300;
	color: #404041;
	margin: 0px auto;
}

.lastguess{
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 300;
	color: #EB008B;
	font-size: 100px;
	margin: 0px auto;
	padding: 0px;
}

#reset-button{
	color: #FFF;
	background-color: #929497;
	width: 85%;
	border: 0px solid #FFF;
	border-radius: 20px;
	margin: 20px auto;
	font-size: 12px;
    font-weight: 300;
    font-family: 'Open Sans', arial, sans-serif;	
}

#reset-button:disabled{
	background-color: #D0D2D3;
}

#reset-button:disabled:hover{
	background-color: #D0D2D3;
}

#reset-button:hover{
	background-color: #EB008B;
}